#### 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
 `* `, `"hello"` , `-87.8`, `-` , `/` ,`+`,`6`?
 
ANS : Operator : `+ ` ,`-`,` /`,` *`.
      Experession : `["Hello" is (string)]`, `[-87.8 is (float)]`, `[6 is (integer)`]

#### 2. What is the difference between string and variable?

ANS : A variable is used to store information and string and integer are the type of variables.` String `are Alphanumeric in nature and store in `" "` quotes or` ''` quotes and while `integer` are` numeric`.

#### 3. Describe three different data types.

ANS : There are  three main type of data types are follows:

1: `String` : In string we can use alphabet and number and we put in `" "` or `' '`  quotes.

2: `Integer` : we use whole number as an integer.

3: `Float` : Float are number with the decimal points.

In [11]:
# Example for data types
string = "mangesh 12"
print(string,type(string))

integer = 1001
print(integer,type(integer))

float_ = 2002.2 
print(float_,type(float_))

mangesh 12 <class 'str'>
1001 <class 'int'>
2002.2 <class 'float'>

#### 4. What is an expression made up of? What do all expressions do?

ANS : An expression is a construct made up of variables, operators, and method invocations, which are constructed according to the syntax of the language, that evaluates to a single value.

In [14]:
#Example : of expression
2*5+10

20

#### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

ANS : `Expression` :An expression is a combination of values, variables, and operators. A value all by itself is considered an expression, and so is a variable, so the following are all legal expressions: 
Ex : `2*5+10`

Statement : A statement is a unit of code that has an effect, like creating a variable or displaying a value:
Ex: `sir = "sudhanshu sir is one of the best teacher i meet"`

In [15]:
spam = 10 #is a statement

#### 6.After running the following code, what does the variable bacon contain?
`bacon = 22`
`bacon + 1`

ANS : In variable `bacon` we assign `22`, so if we have to add `1 `in `bacon` then first we need assing in variable:

In [18]:
#EX 1
bacon = 22
bacon + 1
print(bacon)
# in this case we not assign `bacon + 1` in any variable

22

In [19]:
#EX 2
bacon = 22
bacon = bacon + 1
print(bacon)

23

#### 7.What should the values of the following two terms be?
`'spam'+'spamspam'`
`'spam'*3`

ANS : `'spam'+'spamspam'` is a string concatination
      `'spam'*3` is a string multiplication

#### 8. Why is eggs a valid variable name while 100 is invalid?

ANS : `100` is invalid because we can't use number as a variable in python

In [22]:
egg = " hen came first or egg came first?"
print(egg)

 hen came first or egg came first?

#### 9.What three functions can be used to get the integer,floating-point number,or string version of a value?
Ans: The int(),float(),and str() functions will evaluate to the integer,floating-point number,string version of the value passed to them.

In [27]:
print(int(10.0))
print(str(10))
print(float(10))

10
10
10.0

In [23]:
100 = "hen came first"
print(100)

SyntaxError: cannot assign to literal (<ipython-input-23-b1215e1de9af>, line 1)

#### 10.Why does this expression cause an error? how can you fix it?

'I have eaten ' + 99 + 'burritos.'

ANS : Because of `99` it's getting error. we need to convert `99` into string.

In [25]:
"I have eaten " + str(99) + " burritos"

'I have eaten 99 burritos'